@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
:root {
    --primary: #0ae3eb;
    --secondary: grey;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --error: #dc3545;
    --border-radius: 5px;
    --font-family: "Bubblegum Sans", cursive;
}
/* ***********************Animations************************  */
@keyframes stroke {
	0%   {
		fill: rgba(10,227,235,0); stroke: rgba(10,227,235,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(10,227,235,0); stroke: rgba(10,227,235,1); }
	80%  {fill: rgba(10,227,235,0); stroke: rgba(10,227,235,1); stroke-width: 3; }
	100% {
		fill: rgba(10,227,235,1); stroke: rgba(10,227,235,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}
@keyframes glitch-it {
    0% {
       transform: translate(0);
    }
    20% {
       transform: translate(-2px, 2px);
    }
    40% {
       transform: translate(-2px, -2px);
    }
    60% {
       transform: translate(2px, 2px);
    }
    80% {
       transform: translate(2px, -2px);
    }
    to {
       transform: translate(0);
    }
 }
@keyframes levitate{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0);
    }
}
/********************************** RESET **********************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img,
figure,
video {
    max-width: 100%;
    object-fit: cover;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: var(--info);
}
ul,
ol {
    list-style: none;
}



/********************************** UTILS **********************************/
body {
    font-family: var(--font-family);
    font-size: 25px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.0), rgb(248, 246, 246)), url("../Images/Background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
   
}
.container {
    width: 90%;
    margin: auto;
   
}
/* ? ***********************Swiper************************  */
.swiper{
    width: 100%;
    
    
}
/*? ***********************Boutons************************  */
.btn{
    background-color: var(--primary);
    font-size: 20px;
    border: transparent;
    cursor: pointer;
    color: white;
    padding: 1rem 1rem;
    border-radius: var(--border-radius);
}
.btn:hover{
    background-color: var(--info);
}
.btn:active{
    background-color: var(--success);
}
/*? ***********************Aspects des cartes************************  */
.card{
    border-radius: var(--border-radius);
    padding: 2rem;
    margin: 1.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
.card:hover{
    box-shadow: 0px 0px 20px rgba(4, 235, 227, 0.5);
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
}
.diplome-content.card:hover{
    box-shadow: 0px 0px 20px rgba(4, 235, 227, 0.5);
    transform: scale(0.95);
    transition: transform 0.5s ease-in-out;
}
/*? ***********************Scrollbar************************  */


 /* Personnaliser la scrollbar */
::-webkit-scrollbar {
    width: 10px; 
}

/* Personnaliser le pouce de la scrollbar */
::-webkit-scrollbar-thumb {
    background-color: var(--primary); 
    border-radius: 10px; 
    border: 3px solid #ffffff; 
}

/* Personnaliser la piste de la scrollbar */
::-webkit-scrollbar-track {
    background-color:#0ae3eb; 
    
} 

