

/*? ***********************************************main****************************************** */
main{
    display: flex;
    flex-direction: column;
    gap : 20px;
}
h2{
    margin-bottom: 10px;
    border-bottom: 2px solid var(--primary);
}
/*? ***********************************************Banner****************************************** */


svg {
	font-family: var(--font-family);
	width: 100%; 
    height: 100%;
}
svg text {
	animation: stroke 7s infinite alternate;
	stroke-width: 2;
	stroke: #0AE3EB;
	font-size: 6rem;
}


.wrapper {
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(1, 245, 237, 0.527);
}
.banner-content{
    height: 20vh;
    
}

/*? ***********************************************profile****************************************** */
.profile{
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.profile>h2{
    margin: 20px 0px 0px 0px;
    
}
.profile-content>h2{
    margin-bottom: 20px;
    border-bottom: 2px solid var(--primary);
}
.About-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width : 75%;
}
.competences-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
}
.competences-list>h2{
    margin-top: 10px;
    border-bottom: 2px solid var(--primary);
}


.profile-content{
    display: flex;
    border-radius: var(--border-radius);
    padding: 5%;
    gap: 20px;
}
/*? ***********************************************diplomes****************************************** */
.diplomes{
    display: flex;
    flex-direction: column;
}

.diplome-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    height: 40em;
    border-radius: 20px;
    padding : 0.5rem;
    margin: auto;
    border: 2px solid var(--primary);
    text-align: center;
}


/***********************************************Ebenisterie*******************************************/
.ebenisterie{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1)),
    url("../Images/ébéniste_architectural.webp");
    background-size: cover;
    color: white;
}
/****************************************************Dev********************************************/
.dev{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1)),
    url("../Images/DevWeb.webp");
    background-size: cover;
    color: white;   
}
/***************************************************Bac********************************************/
.bac{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1)),
    url("../Images/Litterature.webp");
    background-size: cover;
    color: white;
}
/************************************************Menuiserie****************************************/
.menuiserie{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1)),
    url("../Images/menuiserie.webp");
    background-size: cover;
    color: white;
}
/*? *********************************************Experiences***************************************/
.Experiences{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Experiences-content{
    display: flex;
    gap: 20px;
}
.experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-radius);
    padding: 6%;
    width: 33%;
}

.experiences-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 10px;
}
ul li{
    background-image: url(../Images/icons8-losange-48.png);
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 25px;
}
/*? *********************************************Technologies***********************************************/
.technologies{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.technologies-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}

.technologies-content>img{
    width: 10em;
    animation: levitate 2s ease-in-out 0s infinite normal none;
}


/*? ***********************************************Contact*****************************************/
/* formSide */
form{
    background-color: var(--primary-transparent);
    padding-top: 4rem;
    margin-top: 1.5rem;
    width:50%;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap : 50px;
}
input , textarea{
    padding: 1em;
    border-radius: var(--border-radius);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--primary);
    width:80%;
}
.contact-content{
    display: flex;
    justify-content: space-between;
}
form>button{
    font-family: var(--font-family);
    
}
.success{
    background-color: var(--primary);
    padding: 10px;
    border-radius: 5px;
}
/* downloadSide */
/* compte github */

.cv_download{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.cv_download>a:nth-child(1){
    background-color: var(--primary);
    padding: 15px;
    border-radius: var(--border-radius);
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width : 60%;
    
}
.cv_download>a:nth-child(1):hover{
    background-color: var(--info);
}
/* Lien de téléchargement */
.cv_download>a:nth-child(2){
    background-color: var(--primary-transparent);
    text-decoration: none;
    color: white;
    text-align: center;
}
.cv_download>a:nth-child(2):hover{
    background-color: var(--info);
}

.contact{
    padding : 2rem;
}
/*? ***********************************************Glitch-Wrapper*******************************************/
.glitch-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: #0AE3EB 0px 0px 10px;
 }
 
 .glitch {
    position: relative;
    font-size: 100px;
    font-weight: bold;
    color: #11F1FF;
    letter-spacing: 3px;
    z-index: 1;
 }
 
 .glitch:before,
 .glitch:after {
    display: block;
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
 }
 
 .glitch:before {
    animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #00FFFF;
    z-index: -1;
 }
 
 .glitch:after {
    animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #FF00FF;
    z-index: -2;
 }
 


/*? ************************************************Footer**************************************************/
footer{
    background-color: var(--primary);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer>.btn-darkmode{
    background-color: var(--secondary);
    
}

